body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}
  
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
  
.fon {
    width: 100%;
    max-width: 1960px;
    min-height: 100vh;
    min-width: 1180px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    display: flex;
}
  
.navigation {
    width: 100%;
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
  
.nav_item {
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: flex;
}
  
.icon {
    height: 30px;
    margin-right: 5px;
  }
  
.footer_box {
    color: #fff;
    text-align: center;
    background-color: #186c7a;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.center {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
  
.w_link {
    color: #fff;
    text-decoration: none;
}
  
.content_box {
    min-height: 60vh;
    padding-left: 20px;
    padding-right: 20px;
}
  